body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-x: hidden;
}

body main {
  margin-top: 300px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.toast-container {
  position: absolute;
  top: 0;
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.toast {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: white;
  border-radius: 8px;
}

.toast a {
  padding-left: 8px;
  margin-left: auto;
  color: white;
  text-decoration: underline;
  color: var(--primary-dark-color);
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.close-button {
  color: black;
  font-size: 12px;
  padding: 4px;
  margin-left: 8px;
  &::after {
    content: "\1f5d9";
  }
  &:hover {
    color: white;
    cursor: pointer;
  }
}
