@import url("./banner.css");
@import url("./theme.css");
@import url("./button.css");
@import url("./video-card.css");

body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

body main {
  margin-top: 32px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toast {
  position: absolute;
  padding: 8px;
  color: white;
  border-radius: 8px;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}