@import url('./banner.css');
@import url('./theme.css');
@import url('./button.css');

body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body main {
  margin-top: 32px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.video-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 8px;
  padding: 8px;
}

.video-container video {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.video-card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f8f8f8;
}

.video-card .delete-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.video-card .delete-icon:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

