body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.video-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.video-container video {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.video-card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f8f8f8;
}

.video-card .delete-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.video-card .delete-icon:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

.video-card .primary-action {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 8px;
  margin-left: auto;
  text-align: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  @media (min-width: 768px) {
    max-width: 100px;
  }
}

.video-card .primary-action:hover {
  background-color: #0056b3;
}

.flex-item {
  flex: 1;
  padding: 10px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
